* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7335b7;
  width: 100%;
}
.navbar {
  height: 80px;
  background-color: #7335b7;
}
.logo {
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  padding: 2rem;
  line-height: 80px;
}

.navbar .nav-list li {
  display: inline-block;
  margin: -2px;
  line-height: 80px;
  list-style: none;
}
.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 24px;
  margin: 0;
}

.nav-list li a:hover {
  background-color: #fff;
  color: black;
  border-radius: 5px;
  padding: 8px 24px;
}

.nav-list li a:hover:not(.active) {
  background-color: #fff;
  color: black;
  border-radius: 5px;
  padding: 8px 24px;
}

.active {
  background-color: #fff;
  color: black !important;
  border-radius: 5px;
  padding: 8px 24px;
  transition: 0.5s;
}
.get-quote {
  background-color: #f8842b;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  margin-right: 1.5rem;
  border-radius: 2px;
  border: 1px solid #f8842b;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .navbar {
    height: auto;
  }
  .logo {
    padding: 1rem;
    text-align: center;
  }
  .navbar .nav-list {
    float: none;
    margin-right: 0;
    text-align: center;
  }
  .navbar .nav-list li {
    display: block;
    margin: 0;
    line-height: 1;
  }
  .nav-list a {
    display: block;
    padding: 15px 0;
  }
  .nav-list li a:hover {
    background-color: #fff;
    color: black;
    border-radius: 5px;
    padding: 8px 24px;
  }

  .nav-list li a:hover:not(.active) {
    background-color: #fff;
    color: black;
    border-radius: 5px;
    padding: 8px 24px;
  }

  .active {
    background-color: #fff;
    color: black !important;
    border-radius: 5px;
    padding: 8px 24px;
  }
  .get-quote {
    float: none;
    margin: 15px 0;
  }
}

/* image  and slider container*/
.contain {
  background-color: #7335b7;
  border-radius: 0 0 15rem 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img-container {
  width: 50%;
}
.contain .slider-img {
  width: 85%;
  padding: 3rem;
  margin-left: 9rem;
}

.digital-markit {
  width: 50%;
}

.digital-markit .digi-head {
  font-size: 2.2rem;
  font-weight: 900;
  color: #fff;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
}

.digital-markit .digi-para {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin: 1.1rem 7rem 0 0;
  word-spacing: 1px;
  line-height: 24px;
  font-family: Poppins, sans-serif;
}

.digital-markit .digi-btn {
  background-color: #5a2a8f;
  color: #fff;
  font-size: 16px;
  padding: 0.9rem 2.4rem;
  border-radius: 5px;
  margin: 3.3rem 0 0 12rem;
  border: 1px solid #5a2a8f;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

/* mediaQuary */
@media (max-width: 768px) {
  .contain {
    height: 100%;
    padding: 2rem;
  }

  .img-container {
    width: 100%;
  }

  .contain .slider-img {
    width: 100%;
    padding: 1rem;
    margin-left: 0;
  }

  .digital-markit {
    width: 100%;
    text-align: center;
  }

  .digital-markit .digi-head {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .digital-markit .digi-para {
    font-size: 1rem;
    margin: 1rem 0;
    word-spacing: 3px;
    line-height: 1.5;
    font-family: Poppins, sans-serif;
  }

  .digital-markit .digi-btn {
    font-size: 14px;
    padding: 0.7rem 1.6rem;
    margin: 1rem auto;
    display: block;
  }
}

/* -------------------Our Service Section ---------------------*/

.our-service-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  font-family: Poppins, sans-serif;
}

.our-service-section .service-head {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.our-service-section .service-para {
  margin: 5px;
  text-align: center;
}
.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  margin: 0px;
}
.service-box .box1 {
  border: 4px solid #e3e3e3;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  margin-left: 40px;
}

.box1 .image {
  width: 30%;
  height: 30%;
  margin-top: 3rem;
}

.box-head {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.6rem;
}

.box-para {
  text-align: center;
  padding: 2px;
  font-size: 16px;
  line-height: 1.4rem;
  margin-top: 7px;
  word-spacing: 1px;
}
.read-more {
  margin: 1rem 0 1rem 0;
}
.read-more a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.box1:hover,
.box1:hover a {
  background-color: #7335b7;
  color: #fff;
  text-decoration: none;
}

.btn-vm {
  background-color: #7335b7;
  color: #fff;
  font-size: 15px;
  padding: 0.7rem 2.5rem;
  border-radius: 5px;
  margin: 1.8rem 0rem 0 0rem;
  border: 1px solid #7335b7;
}
@media (max-width: 768px) {
  .our-service-section .service-para {
    
    font-size: 17px;
    word-spacing: 4px;
    line-height: 1.4;
    padding: 0.5rem 1.5rem;
  }

  .service-box .box1 {
    width: 23.3rem;
    margin:1rem 0 ;
  }

  .service-box {
    padding: 0rem;
  }
  .box-para {
    padding:0 2.8rem;
  }
}
/*------------------------ About us section ---------------------- */

.about-section {
  background-color: #7335b7;
  border-radius: 15rem 0 15rem 0;
  height: 100vh;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about-img-container {
  width: 50%;
}
.about-img {
  width: 85%;
  padding: 3rem;
  margin-left: -1rem;
}

.about {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}
.about-head {
  font-size: 1.9rem;
  font-weight: 900;
  color: #fff;
  margin-right: 11rem;
}

.about-para {
  width: 72%;
  color: #fff;
  font-size: 1rem;
  margin: 1.2rem 0 0 10rem;
  word-spacing: 1px;
  line-height: 23px;
  font-family: Poppins, sans-serif;
}

.about-btn {
  background-color: #f8842b;
  color: #fff;
  font-size: 15px;
  padding: 0.7rem 2.5rem;
  border-radius: 5px;
  margin: 2rem 11rem 0 0rem;
  border: 1px solid #f8842b;
}

/* mediaQuary */
@media (max-width: 768px) {

  .about-section {
    border-radius: 13rem  0;
    height: auto;
  }
  
  .about-section {
    height: 100%;
    padding: 2rem;
    
  }

  .about-img-container {
    width: 100%;
  }

  .about-img {
    width: 100%;
    padding: 1rem;
    margin:5px 0 0 -2.6rem;
  }

  .about {
    width: 100%;
    align-items: unset;
    margin-top: 3rem;
  }

  .about-head {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .about-para {
    font-size: 1rem;
    margin: 1rem 0;
    width: auto;
    word-spacing: 3px;
    line-height: 1.5;
    font-family: Poppins, sans-serif;
  }

  .about-btn {
    font-size: 14px;
    padding: 0.7rem 1.6rem;
    
  }
}

/* ------------------------- -- Our case Section    --   --------------- */

.our-case-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  font-family: Poppins, sans-serif;
  margin-bottom: 50px;
}

.case-head {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.case-para {
  margin: 5px;
  text-align: center;
}
.case-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  margin: 0px;
}
.case-box1 {
  border: 4px solid #e3e3e3;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32rem;
  margin-left: 40px;
}
.case-image {
  width: 100%;
  height: 30%;
}
.case-box-head {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.6rem;
}

.case-box-para {
  text-align: center;
  padding: 2px;
  font-size: 16px;
  line-height: 1.4rem;
  margin-top: 7px;
  word-spacing: 1px;
}
.case-read-more{
  margin: 1rem 0 1rem 0;
  color: #7335B7;
}
.case-read-more a {
  text-decoration: none;
  color: #7335B7;
  font-size: 15px;
}
@media (max-width:768px) {
  .case-box1 {
    margin:1rem 0;
  }

  .case-box-head {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1.6rem;
    padding: 0 2rem;
    text-align: center;
}
.case-box-para {
  padding: 0 2rem;
}
}
/* -------------------------Testimonial section -------------------*/

.testimonial-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  margin-bottom: 5rem;
}

.testimonial-head {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.testimonial-box1 {
  display: flex;
  background-color: #7335b7;
  color: #fff;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  height: 16rem;
  width: 54rem;
}

.testimonial-image {
  width: 13.5%;
  border-radius: 5.5rem;
  position: relative;
  top: -1rem;
}

.testimonial-box-head {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -0.5rem;
}

.testimonial-box1 i {
  font-size: 1.4rem;
  padding: 1rem;
}

.testimonial-box-para {
  text-align: center;
  padding: 0rem 4rem 2rem 4rem;
  font-size: 16px;
  line-height: 1.4rem;
  word-spacing: 1px;
  margin-bottom: 2rem;
}

/* Media query */

@media (max-width: 768px) {
  .testimonial-box1 {
    width: 100%;
    margin: 6rem 0;
    height: auto !important;
  }

  .testimonial-image {
    width: 37%;
    margin-top: -2rem;
  }

  .testimonial-box-para {
    padding: 0rem 4.2rem;
    font-size: 17px;
    word-spacing: 2px;
    line-height: 1.4;
  }
  .testimonial-section {
    padding: 1rem;
    margin-bottom: 0;
  }
}

/* -----------------------------form section------------------------- */
.form-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.contact-form {
  width: 50%;
  flex: 1;
}
.contact-form h1{
  margin: 0rem 0 3.6rem 8rem;
  font-size: 2rem;
  font-weight: 900;
}
.form {
  margin-top: 2.5rem;
}
.form input,
.form textarea {
  padding: 16px;
  margin-bottom: 1.7rem;
}

.form-button {
  background-color: #7335B7;
  color: #fff;
  padding: 0.7rem 4.3rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 8rem;
  border-radius: 3px;
}

.map-section iframe {
  height: 500px;
}

@media (max-width: 768px) {
  .form-section {
    flex-direction: column;
    align-items: stretch;
  }
  
  .contact-form {
    width: 100%;
  }
  
  .form input{
    width: 100%;
    margin-left: 0;

  }

  .form textarea {
    width: 100%;
    height: 6.5rem;
  }
  .form-button {
    margin: 0 0 1rem 0;
    }
  
  .map-section iframe {
    width: 100%;
    height: 300px; 
    margin-left: 0;
  }
  .contact-form h1 {
    padding: 0 1.5rem;
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
}

.form {
    margin-top: 2.5rem;
    padding: 0 1rem;
}
}

@media (max-width: 992px) {
  .form input,
  .form textarea {
    width: 100%;
  }
  
  .map-section iframe {
    width: 100%;
    height: 400px; 
  }
}

@media (min-width: 1200px) {
  .form input,
  .form textarea {
    width: 65%;
    margin-left: 8rem;
  }
  
  .form textarea {
    height: 7.5rem;
  }
  
  .map-section iframe {
    width: 52.3rem;
    height: 540px;
    margin-left: -5rem;
  }
}

/* ---------------------------footer Section------------------- */

.footer-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #7335b7;
  border-radius: 20rem 0 0 0;
  width: 100%;
  height: 26rem;
  flex-wrap: wrap;
  margin: 5rem 0 5rem 0;
}



.footer-digian {
  display: flex;
  flex-flow: column wrap;
  width: 18%;
  padding: 1rem;
  font-size: 17px;
  height: auto;
  line-height: 1.4;
  color: rgb(227, 227, 227);
}

.footer-digian h3{
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.footer-links h3{
  margin: 0.8rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 800
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 20%;
  list-style: none;
  margin-left: -7rem;
  height: auto;
  flex-wrap: wrap;
  color: #fff;
}

.footer-ul li {
  list-style: none;
  padding: 0.8rem 0 0rem 0;
  margin-top: 1px;
}

.footer-ul a {
  text-decoration: none;
  color: #fff;
  font-size: 17.5px;
}
.footer-ul li:hover,.footer-ul a:hover{
  text-decoration: none;
  color: #F8842B;
}
.footer-subscribe {
  display: flex;
  width: 20%;
  flex-wrap: wrap;
  margin-left: -15rem;
  flex-direction: column;
  color: #fff;
}

.footer-subscribe h3{
  margin: 0rem 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 800
}

.footer-form input[type="text"]{
width: 90%;
height: 2rem;
background-color: #7335b7;
border: none;
color: #fff;
font-size: 16px;
font-weight: 500;
padding: 1.4rem 0rem;
border-bottom: 1.5px solid #fff; 
margin-bottom: 1rem;
}

.footer-form input::placeholder {
  color: #fff; 
  font-size: 17px;
}

.footer-form input:focus{
  border: none !important;
  border-bottom: 2px solid #fff !important; 
}

.footer-btn{
  width: 90%;
  background-color: #f8842b;
  color: #fff;
  font-size: 16px;
  padding: 0.8rem 0rem;
  border: 1px solid #f8842b;
}

.footer-address{
  display: flex;
  width: 20%;
  flex-wrap: wrap;
  margin-left: -5rem;
  flex-direction: column;
  color: #fff;
}

.footer-address h3{
  margin-top: 1.6rem;
  font-size: 1.5rem;
  font-weight: 800
}
.address-links1{
  margin-top: 15px;
}
.footer-address-links1{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer-address-links1 li {
 margin-bottom: 15px;
}

.footer-address-links1 a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}


.footer-address-links2{
  display: flex;
  list-style: none;
}

.address-links2{
  margin-top: 5px;
}

.footer-address-links2 a{
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  margin-right:0.5rem;
}
.footer-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-address-links1 li:hover,.footer-address-links1 a:hover{
  text-decoration: none;
  color: #F8842B;
}

.footer-address-links2 li:hover,.footer-address-links2 a:hover{
  text-decoration: none;
  color: #F8842B;
}
@media screen and (max-width: 768px) {
  .footer-section {
    flex-direction: column; 
    height: auto; 
    padding: 2rem 0; 
    margin-bottom: 20rem;
  border-radius: 18rem 0 0 0;
  }

  .footer-digian{
    width: 100%; 
    margin-top: 7rem; 
    text-align: center; 
    padding:0 3rem; 
  }
  .footer-links,
  .footer-subscribe,
  .footer-address {
    width: 100%; 
    margin-left: 0; 
    text-align: center; 
    padding: 1rem; 
  }

  .footer-ul li {
    padding: 0.8rem 0;
    margin-top: -1rem;
  }

  .footer-form input[type="text"] {
    width: 100%;
  }

  .footer-btn {
    width: 100%;
  }
  .footer-address-links2 {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
}
  
}
