.navbar-ul {
  margin-left: 15rem;
}
.navbar-ul a {
  font-size: 1.3rem;
  margin-left: 3rem;
  color: #162c47 !important;
  white-space:nowrap;
}
.navbtn {
  background-color: #a148ff !important;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
  border: none;
  transition: all 0.3s;
  color: white;
  padding: 9px 1.3rem;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
  margin-right: 3rem;
}

/* Media Query*/
@media (max-width: 1225px) {
  .navbar-ul {
    margin-left:8rem; 
  }
  .navbar-ul a {
    font-size: 1.3rem; 
    margin-left: 2.3rem; 
  }
  .navbtn {
    margin-left:0;
    ;
  }
  /* section 1 & 2 */
  .section-1{
    left: 1rem !important;
    position: unset;
    text-align: center;
    margin-top: 4rem;
    padding: 2.5rem 1rem 3.3rem 1rem !important;
   }
   .fs-4{
        font-size: 19px !important;
        margin-top: 20px !important;
        font-weight: 600;
   }
   .section-1-img{
    position: unset !important;
    width: 100%;
   }
  
  .section-1-img img {
      width: 94vw !important;
      border-radius: 2rem;
      margin-top: 1rem;
  }
  /* Our Service */
  .our-container{
   padding-bottom: 80rem !important;
  }
  .our-service{
      display: flex;
      flex-direction: column;
   padding-bottom: 65rem !important;
    
  }

  /* Section css About Us */
  .about-us-container{
    padding-bottom: 63rem !important;
  }
  .aboutus-bgc{
    background-color: rgba(255, 255, 255, 0.5);
    height: 22rem !important;
  }
  .about-heading {
    font-size: 2.5rem !important;
    font-weight: 700;
    color: #263D5A;
    margin: 0 !important;;
    padding: 0.5rem !important;
  text-align: center !important;
}
.about-para {
  margin-left: 0 !important;
  font-weight: 600;
  font-size: 18px !important;
  color: #263D5A;
  text-align: center !important;
  line-height: 1.4 !important;
}

/* Section our pricing */
.pricing-container{
  height: 90rem !important;
}
.pricing-bgc{
padding:2rem 0 4rem 0;
margin-bottom: 2rem;
text-align: center;
background-color: rgba(255, 255, 255, 0.3);
}
/* Our work section  */
.work-container{
  height: 90rem !important;
}
.work-section-img{
height: 23rem;
object-fit: cover;
border-radius: 1rem;
margin-top: 2rem !important;
}
.owr-head-section{
text-align: center;
margin-top: 5rem !important;
}
.work-para{
  font-size: 1.5rem;
  font-weight: 500;
}
/*section our progress section */
.progress-container{
height:60rem !important;

}
.progress-bgc{
background-color: rgba(255, 255, 255, 0.4);
height:43rem !important;
text-align: center;
margin-top: 5rem;
}

/* Our Frequentlt Section  CSS*/
 .frequentlt-container{
    text-align: center;
    height: 50rem !important;
}
.frequentlt-bgc{
  height: 45rem !important;
}
.frequently-img{
  border-radius: 1.5rem;
  margin-top: 3.5rem;
  
 }
 .client-container{
  height: 80rem !important;
 }
 .client-bgc{
height: 10rem !important;
 }
 /* gabrial section-css */
 .gabrial-container{
height: 60rem !important;
 }
 .gabrial-bgc{
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 1rem;
  height: 18rem !important;
padding: 0rem !important;
text-align: center;
 }
 .gabriel-img{
padding: 1rem !important;
 }
 /* Footer container */
 .footer-container{
  height: 45rem !important;
  text-align: center;
 }
 .footer-contain{
  margin-top: 5rem !important;
 }
}
/*Media Query  */
@media (max-width: 998px) {
  .navbar-ul {
    margin-left: 0; 
  }
  .navbar-ul a {
    margin-left: 0rem; 
  }
  .navbtn {
    margin: 0 auto;
    display: block; 
  }
  
}

/* Section 2 css */
.section-1{
 border-radius: 2rem;
 padding: 7rem 2.5rem 7rem 3rem ;
 position: relative;
 left: 5rem;
 z-index: 99;
}
.section-1-img{
  position: relative;
  right:14rem;
}
.section-1-img img{
 width: 55vw;
 border-radius: 2rem;
 height: auto;
 margin-top: 1rem;
}
.photo-btn {
  background-color: #a148ff !important;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
  border: none;
  color: white;
  padding: 12px 1.8rem;
  border-radius: 25px;
  font-size: 19px;
  font-weight: 700;
}

/* Section 3 css */

.service-heading{
    font-size: 2.7rem;
    color: #263D5A;
    font-weight: 700;
    margin-bottom: 5rem;
}
.service-icon {
  font-size: 5rem;
  color: #A148FF;
  padding: 0.7rem 1.5rem;
  border-radius: 7rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.service-h4{
    margin-top: 20px;
    margin-bottom: 10px;
}
.service-para{
    font-size: 18px;
    color: #263D5A;
}

/* Section 4 */
.about-heading{
font-size: 4rem;
font-weight: 700;
color: #263D5A;
margin:1rem 0rem 0.5rem 4rem;
padding:2rem;
}

.about-para{
margin-left: 1.8rem;
font-size: 19px;
color: #263D5A;
line-height: 1.4;
}

/* pricing section css */

.pricing-p{
    margin: 3rem 0 1rem 0;
    font-size: 20px;
    color:#263D5A;
    font-weight: 600;
}

.pricing-head{
    font-size: 2rem;
    font-weight: 700;
    color:#263D5A;
    margin-bottom: 3rem;
}
.price-h2{
font-size: 4.2rem;
font-weight: 700;
color:#263D5A;
}
.price-h3{
    font-weight: 700;
    color:#263D5A;
    margin: 1rem 0;
}
.price-p{
    font-weight: 500;
    color:#263D5A;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.price-btn{
    background-color: #a148ff !important;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    border: none;
    color: white;
    padding: 12px 2rem;
    border-radius: 25px;
    font-size: 19px;
    font-weight: 700;
}

/* Section progress css */
.progress-p{
color: #263D5A;
}
.progress-para{
color: #263D5A;
font-size: 18px;
word-spacing: 5px;
margin: 1rem 0rem;
}
.progress-head{
color: #263D5A;
font-size: 2.7rem;
font-weight: 700;
}

/* Section-Frequently */

#section-frequently{
  background-image: url('./images/background5.jpg');
}
/* reused able class in css */
.corner-rounded{
  border-radius: 2rem;
}
.head-color-font-weight{
  color: #263D5A;
  font-weight: 900;
}
.para-color-font-weight{
  font-weight: 600;
    color:#263D5A;
    font-size: 18px ;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  .progress-bar-txt{
    font-weight: 700;
    color:#263D5A;
    font-size: 19px ;
  }
 .frequently-img{
  border-radius: 1.5rem;
 }